.gameCard {
    position: absolute;
    padding: 25px 20px;
    margin-bottom: 30px;
    width: 300px;
    height: 400px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background: var(--bgColor);
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(255, 255, 255, 0.35);
}

.gameCard img {
    border-radius: 20px;
    margin-bottom: 15px;
    object-fit: cover;
    object-position: center;
    height: 50%;
    width: 100%;
}

.gameCard .like {
    position: absolute;
    top: 24px;
    right: 19px;
    width: 40px;
    height: 40px;
    padding: 5px;
    background: var(--bgColor);
    border-radius: 0 0 0 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.gameCard .like.active {
    color: var(--second);
}

.gameCard span {
    color: white;
}

.gameCard .gameFeature  {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.gameCard .gametype{
    background: var(--second);
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 400;
    letter-spacing: 1px;
}

.gameCard .gameTitle{
    margin-top: 10px;
    font-family: "Bauhaus 93 V2";
    text-transform: uppercase;
    font-size: 1.3rem;
    color: white;
}

.gameCard .gamePrice{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.gameCard .discount{
    background: red;
    padding: 2px 5px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 800;
}
.gameCard .prevPrice{
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 3px;
    font-size: 0.8rem;
}

.gameCard .currentPrice{
    font-size: 1.2rem;
    font-weight: 800;
}

.gameCard .addBag{
    position: absolute;
    right: 0;
    bottom: 0;
    color: white;
    background: var(--second);
    padding: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0 20px 0;
    font-size: 1.2rem;
    transition: 0.3s;
}

.gameCard .addBag:hover{
    background: var(--primary);
}