.sideMenu {
    width: 20%;
    height: 100%;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    background: var(--bgColor);
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(255, 255, 255, 0.35);
    display: flex;
    flex-direction: column;
    transition: 1s;

}

.sideMenu .logo{
    font-family: "Bauhaus 93 V2";
    position: relative;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 15px;
    color: white;
    font-size: 3.5em;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.sideMenu .nav{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 15px;
}

.sideMenu .nav li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    gap: 15px;
    transition: 0.5s;
    background: var(--bgColor);
    border-radius: 28px;
    padding: 10px 20px;
    width: 100%;
}

.sideMenu .nav li a:hover,
.sideMenu .nav li a.active {
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(255, 255, 255, 0.35);
}

.sideMenu .social{
    position: absolute;
    bottom: 50px;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    transition: 0.5s;
}

.sideMenu .social li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    transition: 0.3s;
}
.sideMenu .social li a:hover{
    color: var(--second);
}

.sideMenu .social li .share {
    background: var(--second);
    padding: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: 0.3s;
}

.sideMenu .social li .share:hover {
    background: var(--primary);
}

.sideMenu.active {
    width: 7%;
    transition: 1s;
    overflow: hidden;
    align-items: center;
}

.sideMenu.active .brand,
.sideMenu.active .navName{
    display: none;
}

.sideMenu.active .nav li a{
    font-size: 1.8rem;
}

.sideMenu.active .social{
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}